{%  extends 'base.html' %}
{% load static %}


{% block body %}
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>About us</h2>
            </div>
          </div>          
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h2><strong>We</strong></h2>
            <p>
              UFA is a football governing body that runs football activities at the unam main campus, it mainly facilitate the the campus football league which consists of 16 teams with players from from different institutions in the whole country. 
            </p>
            <p>
              The main purpose of the league is supposed to create players to feed the main campus team that participate in the national premier league. Actually the body(ufa) make sure this league runs smoothly every year,administration work are in order,games take place,right players are registered and winners at the end of the season are awarded
              
            </p>
            
          </div>
          <div class="span6">
            <!-- start flexslider -->
            <div class="flexslider">
              
                <li>
                  <img src="{% static 'Home/img/works/full/UFA.JPG' %}" alt="" />
                </li>
              </ul>
            </div>
            <!-- end flexslider -->
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <div class="row">
          <div class="span12">
            <h4>UNAM FOOTBALL ASSOCIATION EXECUTIVES</h4>
          </div>
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Dino.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Sam Dino Nangolo</strong>
              </p>
              <p>
                President
              </p>
              <p>
                081 207 1533
                </p>
            </div>
          </div>
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Gregg.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Gregg Makari</strong>
              </p>
              <p>
                Vice-President
              </p>
              <p>
                081 713 3226
                </p>
            </div>
          </div>
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Peter.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Peter Shimuningeni</strong>
              </p>
              <p>
                Secretary General
              </p>
              <p>
                081 391 4537
                </p>
            </div>
          </div>
        </div>
      <div class="row">
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Aino.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Aino Mumbalah</strong>
              </p>
              <p>
                Treasurer
              </p>
              <p>
                081 872 3018
                </p>
            </div>
          </div>
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Kennedy.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Kennedy Muundjua</strong>
              </p>
              <p>
                PRO
              </p>
              <p>
                081 442 0329
                </p>
            </div>
          </div>
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Ombili.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Ombili Shipena</strong>
              </p>
              <p>
                Head of Referee's
              </p>
              <p>
                081 361 9505
                </p>
            </div>
          </div>
          <div class="span3">
            <img src="{% static 'Home/img/dummies/Naz.JPG' %}" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Nazeem Achmed</strong>
              </p>
              <p>
                Logistics
              </p>
              <p>
                081 692 9438
                </p>
            </div>
          </div>
        </div>
        </div>
        
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        
      </div>
    </section>
  
    {% endblock %}