{%  extends 'base.html' %}
{% load static %}


{% block body %}


    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>FLY ZONE FC</h2>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <article>
              <div class="top-wrapper">
                
                <!-- start flexslider -->
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                      <img src="{% static 'Home/img/works/full/Fly Zone FC.JPG' %}" alt="" />
                    </li>
                   
                  </ul>
                </div>
                <!-- end flexslider -->
              </div>
             
            </article>
          </div>
          <div class="span4">
            <aside class="right-sidebar">
              <div class="widget">
                <h5 class="widgetheading"><strong>Team Information</strong></h5>
                <ul class="folio-detail">
                    <li><label>Name :</label> Fly Zone Football Club</li>
                    <li><label>Manager :</label> Six-Five</li>
                    <li><label>Captain :</label> Magic Marila</li>
                    <li><label>Stadium :</label> St. James Park</li>
                  </ul>
              </div>
              <div class="widget">
              
                <p>
                    This is one of the new-bies of the league, they only joined in 2017 as this is their only second season 

                </p>
                <!-- Thumb Image and Description -->
                <center><img src="{% static 'Home/img/works/thumbs/Fly Zone FC.png' %}" width="200" height="200" alt="Fly Zone FC."></center>
              </li>
              
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>PLAYERS</h2>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row marginbot30">
          <div class="span12">
            <h4 class="heading"><strong>Goal Keepers</strong> <span></span></h4>
            <div class="row">
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                    
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/IMG_8864.JPG' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Jacob Paulus
                      </p>
                      <span class="info">IUM</span>
                      <p>2002187265</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                    
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/pax.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Peter Tjongarero
                      </p>
                      <span class="info">Main Campus</span>
                      <p>20137543</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="heading"><strong>Defenders</strong> <span></span></h4>
            <div class="row">
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                    
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/teps.JPG' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Paulus Thomas
                      </p>
                      <span class="info">Khomasdal Campus</span>
                      <p>20138085</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                   
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/sutuu.JPG' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Peter Peter
                      </p>
                      <span class="info">Main Campus</span>
                      <p>201689913</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                   
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/stumbo.JPG' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Mike Indola Mupia
                      </p>
                      <span class="info">Main Campus</span>
                      <p>20092345</p>
                    </div>
                  </div>
                </div>
              </div>
                         
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                   
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/rae.JPG' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Rare Kathy
                      </p>
                      <span class="info">Main Campus</span>
                      <p>201911113</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="heading"><strong>Midfielders</strong> <span></span></h4>
            <div class="row">
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                   
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/gregg.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Gregkes Uno
                      </p>
                      <span class="info">Main Campus</span>
                      <p>201531913</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                   
                    <div class="author">
                        
                      <img src="{% static 'Home/img/dummies/IMG_9070.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Muheue Silva
                      </p>
                      <span class="info">Neudamm Campus</span>
                      <p>201404894</p>
                  
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                    
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/camara.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        Camaa Rooney
                      </p>
                      <span class="info">Nust</span>
                      <p>20189032</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span6">
                <div class="wrapper">
                  <div class="testimonial">
                    
                    <div class="author">
                      <img src="{% static 'Home/img/dummies/dallazo.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                      <p class="name">
                        George  Murangi
                      </p>
                      <span class="info">Medicine Campus</span>
                      <p>201214065</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
      
          <h4 class="heading"><strong>Forwards</strong> <span></span></h4>
          <div class="row">
            <div class="span6">
              <div class="wrapper">
                <div class="testimonial">
                  
                  <div class="author">
                    <img src="{% static 'Home/img/dummies/tromps.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                    <p class="name">
                      Tromp Hai
                    </p>
                    <span class="info">Main Campus</span>
                      <p>20123185</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="wrapper">
                <div class="testimonial">
                  
                  <div class="author">
                    <img src="{% static 'Home/img/dummies/melly.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                    <p class="name">
                      Juh Kavari
                    </p>
                    <span class="info">Main Campus</span>
                      <p>20197085</p>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="row">
            <div class="span6">
              <div class="wrapper">
                <div class="testimonial">
                  
                  <div class="author">
                    <img src="{% static 'Home/img/dummies/zizou.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                    <p class="name">
                      Silva Kandjavera
                    </p>
                    <span class="info">Main Campus</span>
                      <p>201711397</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="wrapper">
                <div class="testimonial">
                  
                  <div class="author">
                    <img src="{% static 'Home/img/dummies/team2.jpg' %}" class="img-circle bordered" width="60" height="60" alt="" />
                    <p class="name">
                       Kevin Smith
                    </p>
                    <span class="info">Nust</span>
                      <p>00409386</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>          
        </div>
      </div>
      
    </section>
    
 
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

{%  endblock %}